---
import { ViewTransitions } from "astro:transitions";
import { getHtmlAttrs } from "i18n:astro";
import I18NClient from "@astrolicious/i18n/components/I18nClient.astro";
import I18NHead from "@astrolicious/i18n/components/I18nHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html {...getHtmlAttrs()}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <I18NHead />
    <I18NClient />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
