---
import { useI18n } from "i18n:astro/server";

const { locale, getHtmlAttrs, setDynamicParams, getLocalePath } =
  useI18n(Astro);
console.log(`Locale from page: ${locale}`);

setDynamicParams({ foo: "bar" });
console.log(getLocalePath("/blog/[slug]", { slug: "abc" }));
---

<html {...getHtmlAttrs()}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>
  </body>
</html>
