---
import { useI18n, t } from "i18n:astro/server";
import Counter from "../components/Counter";
import Layout from "~/layouts/Layout.astro";

const { getLocalePath, switchLocalePath } = useI18n(Astro);

console.log(getLocalePath("/blog/[slug]", { slug: "abc" }));
console.log({
  en: switchLocalePath("en"),
  fr: switchLocalePath("fr"),
});

const title = t("about");

export const prerender = false;
---

<Layout {title}>
  <h1>{title}</h1>
  <Counter count={0} client:load>
    <p>Test</p>
  </Counter>
</Layout>
