---
import { t } from "i18n:astro/server";
import Layout from "~/layouts/Layout.astro";

const title = t("home");
---

<Layout {title}>
  <h1>{title}</h1>
  <script>
    import { t, useI18n } from "i18n:astro/client";

    const { locale, getLocalePath, switchLocalePath } = useI18n();

    console.log("A");
    console.log({
      locale,
      path: getLocalePath("/about"),
      switch: {
        en: switchLocalePath("en"),
        fr: switchLocalePath("fr"),
      },
    });
    console.log("B");
    console.log(t("home"));
  </script>
</Layout>
