---
import { t } from "i18n:astro";
import Layout from "~/layouts/Layout.astro";

const title = t("home");
---

<Layout {title}>
  <h1>{title}</h1>
  <script>
    import { t, getLocale, getLocalePath, switchLocalePath } from "i18n:astro";

    console.log("A");
    console.log({
      locale: getLocale(),
      path: getLocalePath("/about"),
      switch: {
        en: switchLocalePath("en"),
        fr: switchLocalePath("fr"),
      },
    });
    console.log("B");
    console.log(t("home"));
  </script>
</Layout>
