---
import { t } from "i18n:astro";
import sitemap from "i18n:astro/sitemap";
import Layout from "~/layouts/Layout.astro";
import Counter from "../components/Counter";

sitemap(false);

const title = t("about");

export const prerender = false;
---

<Layout {title}>
  <h1>{title}</h1>
  <Counter count={0} client:load>
    <p>Test</p>
  </Counter>
</Layout>
