---
import { getLocalePath, t } from "i18n:astro";
import Layout from "~/layouts/Layout.astro";

const title = t("home:title");
console.log(getLocalePath("/about", null, "fr"));
console.log(getLocalePath("/abc", null, "en"));
console.log(getLocalePath("/def", null, "fr"));
console.log(t("home:array", { returnObjects: true }));
---

<Layout {title}>
  <h1>{title}</h1>
  <p>{t("home:description", { value: "9" })}</p>
  <span id="span"></span>
  <script>
    import { t } from "i18n:astro";

    document.getElementById("span")!.innerHTML = t("about");
  </script>
</Layout>
