---
import { t } from "i18n:astro";
import Layout from "~/layouts/Layout.astro";
import HeroMessage from "~/components/HeroMessage.astro";

const title = t("about");
---

<Layout {title}>
  <div class="justify-center items-center">
    <HeroMessage message="aboutMessage" />
    <HeroMessage message="opensource" />
    <a href="https://github.com/astrolicious/i18n/tree/main/demo" class="underline"><HeroMessage message="opensourceCTA" /></a>
  </div>
</Layout>
