---
import { t } from "i18n:astro";
import HeroMessage from "~/components/HeroMessage.astro";
import Layout from "~/layouts/Layout.astro";

const title = t("home");
---

<Layout {title}>
  <div class="justify-center items-center">
    <HeroMessage message="hero" />
  </div>
  <p><a href="/sitemap-0.xml">Sitemap</a></p>
  <script>
    const data = await fetch("/api/hello").then(res => res.text())
    console.log({ data })
  </script>
</Layout>
