---
import { t } from "i18n:astro";
import Layout from "~/layouts/Layout.astro";

const title = t("home");
---

<Layout {title}>
  <h1>{title}</h1>
  <p><a href="/sitemap-0.xml">Sitemap</a></p>
  <script>
    const data = await fetch("/api/hello").then(res => res.text())
    console.log({ data })
  </script>
</Layout>
