---
import { t } from "i18n:astro";

---
<footer class="bg-gray-300 p-4 sticky bottom-0 flex justify-center items-center text-center" style="position:absolute;width:100%;padding-bottom:2rem;">
  <p class="text-xl font-bold">{t("footer")}</p>
</footer>


