---
import { getLocalePath, t } from "i18n:astro";
import LocaleSwitcher from "./LocaleSwitcher.astro";
---
<header class="bg-gray-300 p-2 sticky top-0 flex items-center justify-between flex-col sm:flex-row">
  <a href="https://github.com/astrolicious/i18n/tree/main/demo">
    <div class="flex items-center p-3">
      <img src="../../src/content/astrolicious.png" alt="astrolicious" class="rounded-lg mr-3" >
      <div class="font-bold text-xl ml-2">astro-i18n demo</div>
    </div>
  </a>
  <div class="flex space-x-2 sm:space-x-6 m-2">
    <a href={getLocalePath("/")}>{t("home")}</a>
    <a href={getLocalePath("/about")}>{t("about")}</a>
    <a href={getLocalePath("/blog")}>{t("blog")}</a>
  </div>
  <LocaleSwitcher />
</header>
