---
import { getLocale, getSwitcherData } from "i18n:astro";

const locale = getLocale();
const data = getSwitcherData();
---

<select onchange="location = this.value;">
  {
    data.map((e) => (
      <option value={e.href} selected={e.locale === locale}>
        {e.locale}
      </option>
    ))
  }
</select>
