---
import { getCollection } from "astro:content";
import {
	getDefaultLocalePlaceholder,
	getLocalePlaceholder,
	setDynamicParams,
	t,
} from "i18n:astro";
import sitemap from "i18n:astro/sitemap";
import {
	collectionFilters,
	generateDynamicParams,
} from "@astrolicious/i18n/content-collections";
import type { GetStaticPaths } from "astro";
import Layout from "~/layouts/Layout.astro";

export const getStaticPaths = (async () => {
	const locale = getLocalePlaceholder();
	const defaultLocale = getDefaultLocalePlaceholder();

	const posts = await getCollection("posts", (post) =>
		collectionFilters.byLocale(post, { locale }),
	);

	return await Promise.all(
		posts.map(async (post) => {
			const equivalentPosts = await getCollection("posts", (p) =>
				collectionFilters.matchingEntries(p, {
					currentEntry: post,
					key: "defaultLocaleVersion",
					locale,
					defaultLocale,
				}),
			);

			const dynamicParams = generateDynamicParams(equivalentPosts);

			sitemap({
				dynamicParams,
			});

			return {
				params: {
					slug: post.slug.split("/")[1],
				},
				props: {
					post,
					dynamicParams,
				},
			};
		}),
	);
}) satisfies GetStaticPaths;

const { post, dynamicParams } = Astro.props;

setDynamicParams(dynamicParams);

const title = `${t("blog")} - ${post.data.title}`;
---

<Layout {title}>
  <h1>{title}</h1>
</Layout>
