---
import { getCollection } from "astro:content";
import {
	getDefaultLocale,
	getLocale,
	getLocalePlaceholder,
	setDynamicParams,
	t,
} from "i18n:astro";
import type { GetStaticPaths } from "astro";
import Layout from "~/layouts/Layout.astro";

export const getStaticPaths = (async () => {
	const locale = getLocalePlaceholder();

	const posts = await getCollection(
		"posts",
		({ slug }) => slug.split("/")[0] === locale,
	);

	return posts.map((post) => ({
		params: {
			slug: post.slug.split("/")[1],
		},
		props: {
			post,
		},
	}));
}) satisfies GetStaticPaths;

const locale = getLocale();
const defaultLocale = getDefaultLocale();
const { post } = Astro.props;

const equivalentPosts = await getCollection("posts", (p) => {
	if (locale === defaultLocale) {
		return (
			p.slug === post.slug || p.data.defaultLocaleVersion?.slug === post.slug
		);
	}
	return (
		p.slug === post.data.defaultLocaleVersion?.slug ||
		p.data.defaultLocaleVersion?.slug === post.data.defaultLocaleVersion?.slug
	);
});

setDynamicParams(
	equivalentPosts.map((post) => {
		const [locale, slug] = post.slug.split("/");

		return {
			locale,
			params: {
				slug,
			},
		};
	}),
);

const title = `${t("blog")} - ${post.data.title}`;
---

<Layout {title}>
  <h1>{title}</h1>
</Layout>
